html, body, .banner {
  height: 100%;
  min-height: 600px;
}
header div.banner {
  display: table;
  float: none;
}
header div.banner div.center {
  text-align: center;
  padding: 0 20px;
  vertical-align: middle;
  display: table-cell;
  float: none;
}
