<header class="banner container">
  <div class="banner">
    <div class="center">
      <h1><img src="{{ site.baseurl }}/images/kursadminlogo-600.png" alt="KursAdmin" /></h1>
      <hr>
      <h2>Et nettbasert program for planlegging, administrasjon og dokumentasjon av kursaktivitet i studieforbund og frivillige organisasjoner.</h2>
      <hr>
      <div id="banner-form">
	  <div class="row">
	    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	    <select id="stf-valg" class="form-control input-lg"><option value=""> -- Velg ditt studieforbund -- </option>
	    	{% for stf in site.data.studieforbund %}
			<option value="{{ stf.nr }}">{{ stf.navn }}</option>
		{% endfor %}
	    </select>
	    </div>
	  </div>
	  <div class="row" style="padding-top: 20px;">
	      <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-6">
	   <button id="banner-form-login" class="btn btn-lg btn-success btn-block"><span class="glyphicon glyphicon-log-in"></span> Logg inn</button>
	    </div>
	      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
	    <button id="banner-form-signup" class="btn btn-lg btn-info btn-block"><span class="glyphicon glyphicon-thumbs-up"></span> Få tilgang</button>
	    </div>
	  </div>
      </div>
    </div>
  </div>
</header>
<div class="scroll-down">
  <div class="text">Lær mer</div>
  <div class="arrow"></div>
</div>
