<header class="banner container">
  <div class="banner">
    <div class="center">
      <h1><img src="{{ site.baseurl }}/images/kursadminlogo-600.png" alt="KursAdmin" /></h1>
      <hr>
      <h2>Et nettbasert program for planlegging, administrasjon og dokumentasjon av kursaktivitet i studieforbund og frivillige organisasjoner.</h2>
      <hr>
      <div id="banner-form">
	  <div class="row">
	    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
	    <select id="stf-valg" class="form-control input-lg"><option value=""> -- Velg ditt studieforbund -- </option>
	    	{% for stf in site.data.studieforbund %}
			<option value="{{ stf.nr }}">{{ stf.navn }}</option>
		{% endfor %}
	    </select>
	    </div>
	  </div>
	  <div class="row" style="padding-top: 20px;">
	      <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-6">
	      	<div class="btn-group btn-block">
			<a href="#" id="banner-form-login" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-log-in"></span> Logg inn</a>
			<button type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown">
    				<span class="caret"></span>
    				<span class="sr-only">Vis alternativ</span>
  			</button>
  			<ul class="dropdown-menu" role="menu">
    				<li><a href="#" id="banner-form-login-test" title="Testmiljøet er en kopi av produksjonsmiljøet i KursAdmin, som brukes blant annet til opplæring og testing av nye funksjoner. Testmiljøet overskrives hver uke.">Logg inn i testmiljøet</a></li>
			</ul>
		</div>
	    </div>
	      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
	    <button id="banner-form-signup" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target="#faaTilgangModal"><span class="glyphicon glyphicon-thumbs-up"></span> Få tilgang</button>
	    </div>
	  </div>
      </div>
    </div>
  </div>
</header>
<div class="scroll-down">
  <div class="text">Lær mer</div>
  <div class="arrow"></div>
</div>

<div class="modal fade" id="faaTilgangModal" tabindex="-1" role="dialog" aria-labelledby="faaTilgangModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Lukk</span></button>
        <h4 class="modal-title" id="faaTilgangModalLabel">Få tilgang til KursAdmin</h4>
      </div>
      <div class="modal-body">
        <p>For å få tilgang til KursAdmin må du først opprettes som bruker i systemet. Det er det enkelte studieforbund som oppretter brukere, og dette skjer manuelt. Ved å fylle inn skjemaet under sender vi en e-post til studieforbundet med opplysninger om deg. Du kan også selv ta kontakt direkte med studieforbundet ditt.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
        <button type="button" class="btn btn-primary">Send forespørsel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->